<#@ template hostspecific="True" #>

<#
/*
This is the configuration file for GenericModelGenerator.tt
*/
	// Settings
    ConnectionStringName = ""; // Uses last connection string in config if not specified
	ConfigPath = @""; //Looks in current project for web.config or app.config by default. You can override it to point to a different config file.
    Namespace = "Dapper.FastCrud.Tests.Models";
	ClassPrefix = "";
	ClassSuffix = "";
    IncludeViews = true;
    IncludeRelationships = true;
	IgnoreColumnDefaultValues = false; 
	ExcludeTablePrefixes = new string[]{"ELMAH", "AspNet_", "dtproperties", "NormalizedUsageLog", "HangFire.", "Building"};
#>
<#@ include file="..\..\Dapper.FastCRUD.ModelGenerator\Content\Models\GenericModelGenerator.tt" #>
<#+
	void ConfigureTableMappings(Tables tables){
		/*
			// Tweak Schema
			tables["tablename"].Ignore = true;							// To ignore a table
			tables["tablename"].ClassName = "newname";					// To change the class name of a table
			tables["tablename"]["columnname"].Ignore = true;			// To ignore a column
			tables["tablename"]["columnname"].PropertyType="bool";		// To change the property type of a column
		*/
	}
#>