<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <connectionStrings>
    <!--For all the connection strings, the database will be added by the tests-->
    <add name="PostgreSql" connectionString="User ID=postgres;Password=root;Host=localhost;Port=5432;"/>
    <add name="SqLite" connectionString="Data Source=:memory:;New=True;"/>
    <add name="MySql" connectionString="Server=localhost;Uid=root;Pwd=root;"/>    
    <add name="LocalDb" connectionString="Data Source = (LocalDb)\MSSQLLocalDB;Integrated Security=True;Connect Timeout=60"/> <!--\v11.0-->
    <add name="MsSqlServer" connectionString="Data Source=.; Integrated Security = True"/>
    <!--https://msdn.microsoft.com/en-us/library/system.data.sqlserverce.sqlceconnection.connectionstring(v=vs.100).aspx-->
    <!--cache is set in KB, interval in seconds-->
    <add name="SqlCompact" connectionString="data source='{0}';encrypt database=false;max buffer size=262140;flush interval=360;autoshrink threshold=100;mode=Exclusive"/>
    <add name="EntityGeneration" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\EntityGenDatabase.mdf;Initial Catalog=EntityGenDatabase;Integrated Security=True"/>
  </connectionStrings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit"/>
    <!--<generator allowRowTests="false" />-->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
<system.data>
    <DbProviderFactories> 
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data></configuration>
