<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net452" userInstalled="true" />
  <package id="Dapper.SimpleCRUD" version="1.8.7" targetFramework="net452" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" userInstalled="true" />
  <package id="Shared.Management.Objects.for.SQL.Server.2012.SP1" version="11.0.3000.0" targetFramework="net452" userInstalled="true" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net452" userInstalled="true" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net452" userInstalled="true" />
</packages>